.carousel-status {
  visibility: hidden;
}

p.legend{
  visibility: hidden;
}

/* .carousel .carousel-slider .control-arrow .control-pres {
  background-image: url(https://cdn2.hubspot.net/hubfs/273774/mp/themes/Act-Theme/images/act-arrow-prev-white.svg);
  width: 100px;
  h100
} */